- if @bets
  / %table
  /   %tr
  /     %th Combatants
  /     %th Loser Task
  /     %th Edit
  /     %th Destroy
  /   - @bets.each do |bet|
  /     %tr
  /       %td= bet.users.map { |u| u.username }.join(', ')
  /       %td= link_to bet.loser_task, bet_path(bet.id)
  /       %td= link_to 'Edit', edit_bet_path(bet.id)
  /       %td= link_to 'Destroy', bet_path(bet.id), method: 'delete'

  - @bets.each do |bet|
    = render 'bet_partial', bet: bet
    %div.divider

%div
  = link_to 'Challenge your friends!', new_bet_path
