.col-md-12
  / - if @bets.present?
  /   - @bets.each do |bet|
  /     / Render bet
  /     %p= bet.proposition
  / - else
  /   %p No bets yet!

  = link_to 'Create a Bet', new_bet_path, class: 'btn btn-primary'