// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.width300 {
  width: 300px;
}

.fullwidth {
  width: 100%;
}

.bolded {
  font-weight: bold;
}

.margin-top {
  margin-top: 12px;
}

.divider{
  width: 95%;
  border-bottom: solid 1px #EEE;
  margin: 5px auto; 
}

.bet {
  width: 100%;
  .agree-side, .disagree-side {
    width: 200px;

    img {
      width: 190px;
    }

    .agreement-btn {
      width: 190px;
      margin-top: 12px;
    }
  }

  .proposition-main {
    font-size: 20px;
  }

  .loser-task-main {
    font-size: 17px;
  }
  .vs{
    text-align: center;
    font-size: 80px;
    font-family: script, serif;
  }
}