// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.width300 {
  width: 300px;
}

.bolded {
  font-weight: bold;
}

.bet {
  width: 100%;
  .agree-side, .disagree-side {
    width: 200px;

    img {
      width: 180px;
    }
  }

  .proposition-main {
    font-size: 32px;
  }

  .loser-task-main {
    font-size: 26px;
  }

}